.dropbtn{background-color:#2980b9;color:#fff;border:none;cursor:pointer;width:100%;text-align:left}.dropdown{width:100%;display:inline-block}.dropdown-content{display:none;background-color:#f9f9f9}.dropdown-content a{color:#000;padding:12px 16px;text-decoration:none;display:block}.dropdown-content a:hover{background-color:#3682A3;color:#fff}.dropdown:hover .dropdown-content{display:block}.dropdown:hover .dropbtn{background:rgba(255,255,255,0.2)}
