.chat-box{
    font:normal normal 11px/1.4 Tahoma,Verdana,Sans-Serif;
    color:#333;
    width:250px;
    border:1px solid #344150;
    border-bottom:none;
    background-color:#f7f7f7;
    position:relative;
    float:left;
    bottom:0;
    z-index:1;
    display:inline;
    -webkit-box-shadow:1px 1px 5px rgba(0,0,0,.2);
    -moz-box-shadow:1px 1px 5px rgba(0,0,0,.2);
    box-shadow:1px 1px 5px rgba(0,0,0,.2)
}
.chat-box > input[type="checkbox"]{
    display:block;
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    right:0;
    left:0;
    width:100%;
    height:26px;
    z-index:1;
    cursor:pointer;
    opacity:0;
    filter:alpha(opacity=0)
}
.chat-box > label{
    display:block;
    height:24px;
    line-height:24px;
    background-color:#344150;
    color:#fff;
    font-weight:700;
    padding:0 1em 1px
}
.chat-box > label:before{
    content:attr(data-collapsed)
}
.chat-box .chat-box-content{
    padding:10px;
    display:none
}
.ul{
    height:200px;
    overflow:auto
}
.ul li{
    color:#1A4A7C
}
.chat-box > input[type="checkbox"]:hover + label{
    background-color:#404D5A
}
.chat-box > input[type="checkbox"]:checked + label{
    background-color:#212A35
}
.chat-box > input[type="checkbox"]:checked + label:before{
    content:attr(data-expanded)
}
.chat-box > input[type="checkbox"]:checked ~ .chat-box-content{
    display:block
}
a:hover{
    cursor:pointer
}
#input_message_container input[type="text"]{
    border:none;
    height:30px;
    width:71%;
    margin-right:2%
}
#btn_send{
    width:25%
}
.chat_img{
    width:70%;
    height:70%;
    margin:0
}
.col-sm-6{
    padding:0;
    margin:0
}
 .col-sm-4 {
     padding:0;
     margin:0;
     border-left: 1px solid blue;
 }
.container-fluid,.row,.col-sm-6{
    height:100%
}
#nav-bar{
    width:100%;
    background-color:#fff;
    height:7%;
    background-color:#ECECEE
}
#cn{
    padding:0;
    margin:0;
    font-family:bold;
    color:#1D6F93;
    text-indent:5px;
    float: left;
}
#chat-content{
    height:90%;
    position:relative;
    margin-top:2px
}
/* #menu-toggle{
    float:right;
    position:relative;
    top:50%;
    margin-right:1%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%)
} */
#inpmess{
    background-color:#ECECEE;
    height:20%;
    margin-top:2px
}
#message{
    height:100%;
    padding:0;
    overflow:hidden;
    overflow-y:scroll;
    background-color:#ECECEE;
    margin:0
}
#wrap{
    padding:5px;
    overflow:auto;
    width:75%;
    float:left
}
#send{
    float:right;
    margin-top:5px
}
#thing{
    height:72%;
    margin-top:2px;
    overflow:hidden
}
.btn-default{
    color:#3682A3
}
.btn-default:hover{
    color:#fff;
    background-color:#0665A2
}
.btn-success{
    background-color:#0665A2;
    border:none
}
.btn-success:hover{
    background-color:#fff;
    color:#0665A2
}
.btn-default,#tx{
    border:none;
    background-color:#ECECEE
}
.scroll-bar-wrap{
    width:100%;
    height:100%;
    float:left;
    padding:0;
    margin:0;
    position:relative;
    margin-right:2px
}
.scroll-box{
    width:100%;
    height:295px;
    overflow-y:scroll;
    margin-top:2px
}
.scroll-box::-webkit-scrollbar{
    width:.4em
}
.scroll-box::-webkit-scrollbar,.scroll-box::-webkit-scrollbar-thumb{
    overflow:visible;
    border-radius:4px
}
.scroll-box::-webkit-scrollbar-thumb{
    background:rgba(0,0,0,.2)
}
.cover-bar{
    position:absolute;
    background:#fff;
    height:100%;
    width:.4em;
    -webkit-transition:all .5s;
    opacity:1;
    float:right
}
.scroll-bar-wrap:hover .cover-bar{
    opacity:0;
    -webkit-transition:all .5s
}
#tx:focus{
    box-shadow:0 0 5px rgba(41,128,185,1.0)
}
.fileUpload input.upload{
    margin:0;
    padding:0;
    font-size:20px;
    cursor:pointer;
    opacity:0;
    filter:alpha(opacity=0)
}
