@import url('https://fonts.googleapis.com/css?family=Roboto');

body,html {
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
}


.sidebar_icon {
  width: 22px;
  height: 21px;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    background: #ffffff;
    color: #939a9d;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 1000;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

#sidebar.active span, #sidebar.active .logo {
  display: none;
}

#sidebar .sidebar-header {
  height: 15%;
}

.logo {
  font-size: 10px;
font-weight: bold;
line-height: 1.4;
color: #2d3436;
}

#sidebar > .sidebar_ul_container {
  height: 80%;
}

#sidebar > .sidebar_ul_container ul{
  display: flex;
    justify-content: space-between;
    height: 60%;
     flex-direction: column;
     padding-left: 5%;
}

#sidebar.active {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}



#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul {
    text-align: left;
}


#sidebar ul li a {
    text-align: left;
}

#sidebar ul li a span{
    margin-left: 5%;
font-size: 26px;

line-height: 1.19;
color: #636e72;
vertical-align: middle;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle:after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 10%;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #939a9d;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a span,
a[aria-expanded="true"] {
    color: #007aff !important;
    font-weight: bold;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.dropdown-menu{
    left:-400px !important;
    top: 45px !important;
    padding: 1rem;
    border: none;
    width: 500px;
 /* height: 131.4px; */
 box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
 background-color: #ffffff;
 transform: unset !important;
}

/* .dropdown-menu>li>a{
    color:#428bca
} */

.dropdown-st .dropdown-menu{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
background-color: #ffffff;
}

.dropdown-st .dropdown-menu:before{
    content:"";
    border-bottom:10px solid #fff;
    border-right:10px solid transparent;
    border-left:10px solid transparent;
    position:absolute;
    top:-10px;
    right:16px;
    z-index:10
}

.dropdown-st ul.dropdown-menu:after{
    content:"";
    border-bottom:12px solid #ccc;
    border-right:12px solid transparent;
    border-left:12px solid transparent;
    position:absolute;
    top:-12px;
    right:14px;
    z-index:9
}

.dropdown-menu-text {
    font-size: 18px !important;
}

#dropdown-toggle{
    padding:6px;
}

.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 80px);
    padding: 20px 100px;
    transition: all 0.3s;
    top: 0;
    margin-left: 80px;
}

.promoted_apps_name {
    font-weight: bold;
  font-size: 20px;
  line-height: 1.44;
  text-align: right;
  color: #2d3436;
}

.promoted_apps_text {
  font-size: 11px;
  line-height: 1.8;
  text-align: left;
  color: #636e72;
}

.promoted_apps_border_left {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.promoted_apps_border_right {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#class_name {
 font-size: 24px;
 font-weight: bold;
 line-height: 1.21;
 text-align: left;
 color: #2d3436;
 display: inline-block;
     margin-right: 20px;
}

.btn_solid_main_view {
  width: 110px;
background-color: #007aff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  margin-top: -5px;
}

#selected_school {
  font-size: 10px;
  line-height: 1.3;
  text-align: left;
  color: #b2bec3;
  vertical-align: top;
}

.num_of_students_online {
  font-size: 10px;
  line-height: 1.3;
  text-align: left;
  color: #007aff;
    vertical-align: top;
}

#members_list {
font-size: 14px;
font-weight: 500;
line-height: 1.21;
text-align: left;
color: #b2bec3;
}

#members_list:after{
    border-radius: 900px;
    background-color: #b2bec3;
    content: '';
    display: block;
    position: relative;
    height: 0.1rem;
    width:2rem;
}

#members_holder .row {
  height: 60px;
  border-radius: 10px;
  background-color: rgba(252, 252, 252, 0);
}

#message_ui_container {
 border-radius: 10px;
 box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.06);
 background-color: #fcfcfc;
 overflow: hidden;
 height: 100%;
}

#message_header {
  height: 54px;
box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
background-color: #007aff;
}

#message_header p {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.22;
  color: #ffffff;
  display: inline-block;
  margin: 0;
  margin-left: 10px;
}

#message_holder {
  height: calc(100% - 54px - 53px);
}

#message_footer {
  height: 53px;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}

.user_img{
  border-radius: 100%;
}

#top_crap {
  height: 18%;
}

#chat_container {
  height: 82%;;
}

.input_text {
  width: 100%;
height: 40px;
  border: none;
border-radius: 1000px;
background-color: #f5f5f5;
padding: 10px;
}

.schoolSelect {
  height: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.input_text.entry {
    height: 44px;
}

.text_align_left {
    text-align: left;
}

.header_text {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: normal;
    color: #657786;
  }

  .footer_header_text:after, .text_align_left:after {
      content: '';
      display: block;
      position: relative;
      height: 0.125rem;
      background-color: #1AB3FF;
      width: 3rem;
  }

.gold {
  fill: #ff9500;
}

.white {
  fill: #fff;
}

.black {
  fill: #000;
}

.btn_main_view {
  background: none;
  padding: 0px;
}

.btn_gold {
  background-color: #ff9500;
    border-radius: 17px !important;
}


.btn-outline-primary {
  border-color: #ff9500;
  border-radius: 17px !important;
}

.index_page_button {
  height: 40px;
      padding: 5px 30px;
      width: 171px;
      line-height: 30px;
      font-weight: bold;
      font-size: 12px;
color: white !important;
}


.index_page_button_inv {
  height: 35px;
padding: 5px 30px;
width: 200px;
line-height: 25px;
font-weight: bold;
font-size: 12px;
color: #0047ff;
background-color:white;
}

.index_page_button_inv:hover {
  background-color: transparent;
  color: white;
}

#jumbotron_header {
  height: 55px;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.31;
  color: #ffffff;
}

#jumbotron_subtext {
  width: 454px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 2%;
   font-family: 'Roboto';
}

.margin_top_2_5{
  margin-top: 2.5%;
}

.margin_top_5{
  margin-top: 7.5%;
}

.margin_top_10{
  margin-top: 10%;
}


.facts_img_bg {
  width: 147.1px;
  height: 147.1px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 45%;
}

.facts_img {
  height:50%;
  width: 50%;
}

/* .header_text {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.43;
  text-align: center;
  color: #2d3436;
} */

#chats_holder {
  height: 100%;
  overflow: auto;
}

.center_text {
  text-align: center;
}

.center_vertical {
  display: flex;
  align-items: center;
  height: 100%;
}

.center_margin {
    display: block;
    margin:0 auto;
}

.padding {
  padding: 0 15px !important;
}

.margin_right {
  margin-right: 30px !important;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.jumbotron {
  background: url("img/index_page_hero_slider_bg.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  height: 768px;
  display: flex;
align-items: center;
justify-content: center;
}

.facts_sub_header {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.22;
  letter-spacing: normal;
  text-align: center;
  color: #2d3436;
}

.facts_text {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #636e72;
}

.how_to_header_text {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.43;
  color: #636e72;
}

.how_to_text {
  font-size: 16px;
  line-height: 1.75;
  color: #636e72;
}

.how_to_img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
}

.container-fluid {
  height: 100%;
}

.btn {
  border-radius: 1000px;
}

.row, .no-gutters {
  margin-right: 0;
  margin-left: 0;

}
.col,
[class*="col-"] {
padding-right: 0;
padding-left: 0;
}

section {
  padding: 2.5%;
}

.section_bg {
    background-color: #fafafa;
}

#footeR_bg {
  padding: 5%;
  background-color: #2d3436;
}

.studychat {
font-size: 27px;
font-weight: bold;
line-height: 1.44;
color: #2d3436;

}

.entry_header{
  font-size: 21px;
  font-weight: bold;
  line-height: 1.9;
  color: #636e72;
}

.btn-primary{
  width: 190px;
  height: 40px;
  border-radius: 900px;
  background-color: #007aff;
  font-size: 16px;
  font-weight: bold;
}

.text_align_right {
  text-align: right;
}

.btn-black {
  height: 54px;
  border-radius: 900px;
  background-color: #2d3436;
  font-size: 16px;
 font-weight: 500;
 line-height: 1.19;
 color: #ffffff;
}

.btn-orange {
  height: 54px;
  border-radius: 900px;
  background-color: #ff9500;
  font-size: 16px;
 font-weight: 500;
 line-height: 1.19;
 color: #ffffff;
}

.width_100 {
  width: 100%;
}

.modal-content {
  border: none;
  border-radius: 15px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
background-color: #ffffff;
z-index: 1000000000;
overflow: hidden;
}


.btn-secondary {
  width: 90px;
  height: 36px;
  border-radius: 1000px;
  background-color: #ffffff;
  border: 1px solid #636e72;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.57;
  color: #636e72;
  margin-right: 7.5% !important;
}

.btn-primary {
  width: 90px;
  height: 36px;
  border-radius: 1000px;
  background-color: #007aff;
font-size: 14px;
font-weight: bold;
line-height: 1.57;
color: #ffffff;
}

.btn-secondary .icon {
  width: 9.3px;
  height: 9.2px;
}

.hide {
  display: none;
}

.modal-backdrop{
  opacity: 0.2 !important;
  -webkit-filter: blur(1px);
   filter: blur(1px);
 background-color: #000000;
 z-index: 1000;
 }

.modal-title {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.22;
  color: #007aff;
}
#freeHandDrawerModal .modal-dialog {
  max-width: 1000px;
}

 .modal-header{
    height: 54px;
    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
 font-size: 18px;
 font-weight: light;
 line-height: 1.22;
 color: #636e72;
}

.modal-header h5 {
  margin-left: 10px;
}

#freeHandDrawerModal .modal-body, #changeChatModal .modal-body {
    height: 517px;

 background-color: #fafafa;
}

#freeHandDrawerModal .modal-footer, #changeChatModal .modal-footer {
  height: 64px;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}

#freeHandDrawerModal .modal-footer{
  display: block;

}

#freehanddrawer_user_btns_container {
  width: 10%;
  display: flex;
justify-content: space-between;
}


#changeChatModal .custom-control-label {
  font-size: 16px;
  color: #636e72;
}

#uploadsModal .modal-dialog {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
  height: auto;
  min-height: 100%;
  width: calc(100% - 100px);
  height: 100%;
  margin: 0;
  margin-left: 100px;
  padding: 0;
}

#uploadsModal .modal-body {
  padding: 10%;
  overflow: auto;
}

#uploadsModal .modal-content {
  height:100%;
    border-radius: 0;
}

#uploadsModal .header {
  width: 234px;
  height: 29px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #2d3436;
}

.file_container {
  border-radius: 15px;
 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
 background-color: #ffffff;
 padding: 5%;
 margin-bottom: 30px;
}

.file_image {
opacity: 0.26;
border-radius: 1000px;
background-color: #ff9500;
padding: 10%;
width:100%;
}

.file_time_stamp {
  font-size: 14px;
  line-height: 1.21;
  color: #636e72;
}

.file_size {
opacity: 0.7;
font-size: 12px;
line-height: 1.17;
color: #b2bec3;
}

.file_name {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.19;
  color: #2d3436;
  text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}

.file_uploader {
  opacity: 0.7;
font-size: 12px;
line-height: 1.17;
color: #636e72;
}

.padding_left {
  padding-left: 5%;
}

.both {
    border-radius: 5px;
    padding: 5px;
    display: inline-block;;
    margin: 0;
}

.you .both {
  background-color: #f0f0fb;
}

.you {
  text-align: left;

}

.message {
  font-size: 18px;
  margin: 0;
    display: table;
}

.you .message{
  color: #636e72;
}

.me {
  text-align: right;
}

.me .both {
  background-color: #007aff;
}
.me .message{
    color: #ffffff;
}

.sender {
  font-size: 11px;
  color: #34495e;
    opacity: 0.5;
    margin-bottom: 3px;
    display: block;
}

.both .url {
  color: #fff;
  margin-top: 2px;
  font-size: 12px;
}

#messages .width_100 {
    padding: 1%;
}

.student_name {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.15;
  color: #2d3436;
}

.student_status {
  font-size: 11px;
  line-height: 1.18;
  color: #636e72;
}

.margin_0 {
  margin: 0;
}

#upload_button {
  width: 78px;
 height: 78px;
 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
 background-color: #ffffff;
 display: flex;
 align-items: center;
text-align: center;
margin: 0;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.bar {
  height: 7px;
  border-radius: 1000px;
  background-color: #007aff;
}

#progress {
  height: 7px;
border-radius: 1000px;
background-color: #dfe6e9;
}

#progress_percent {
font-size: 24px;
font-weight: light;
line-height: 0.67;
color: #636e72;
}

#progress_data {
font-size: 16px;
line-height: 1;
color: #636e72;
}

.launch_web_app {
  width: 223.1px;
  height: 50.9px;
  border-radius: 25px;
  background-color: #ff9500;
  color: #fff;
}

.vertical-center {
  display: flex;justify-content:center;align-content:center;flex-direction:column;
}

.footer_text {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.83;
  color: #007aff;
}

.pulse {
  cursor: pointer;
animation: pulse 1s infinite;
}
.pulse:hover {
  animation: none;
}

@keyframes pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}

.center_vertical_justify {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main_btns_container{
  padding-top: 2%;
}

.class_card{
  padding: 3%;
  border-radius: 5%;
}

.class_card:hover {
  background-color: #DADFE1;
  cursor: pointer;
}

.class_card p {
  margin: 0;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* .hamburger {
  display: contents;
left: 50%;
transform: translateX(-50%);
} */
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 900px) {
  #jumbotron_header {
    font-size: 20px;
    text-align: center;;
  }

  #jumbotron_subtext {
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 2%;
  }

  .jumbotron {
    height: 400px;
  }

  .sign_btn {
    width:100%;
  }

  #sidebar {
      min-width: 150px;
      max-width: 150px;
      text-align: center;
  }
  .dropdown-toggle::after {
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
  }
  #sidebar.active {
    min-width: 70px;
    max-width: 70px;
      margin-left: 0 !important;
  }
  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
      display: none;
  }
  #sidebar .sidebar-header strong {
      display: block;
  }
  #sidebar ul li a {
      padding: 20px 10px;
  }
  #sidebar ul li a span {
      font-size: 0.85em;
  }
  #sidebar ul li a i {
      margin-right: 0;
      display: block;
  }
  #sidebar ul ul a {
      padding: 10px !important;
  }
  #sidebar ul li a i {
      font-size: 1.3em;
  }
  #sidebar {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }

  #content {
        padding: 6px 30px;
        margin-left: 70px;
        width: calc(100% - 70px);
  }
}

@media (max-width: 768px) {
    #sidebar {
        min-width: 150px;
        max-width: 150px;
        text-align: center;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
      min-width: 70px;
      max-width: 70px;
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

    #content {
          padding: 6px 30px;
          margin-left: 70px;
          width: calc(100% - 70px);
    }
}

@media (max-width: 414px) {
    #sidebar {
        min-width: 150px;
        max-width: 150px;
        text-align: center;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
      min-width: 50px;
      max-width: 50px;
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

    #content {
          padding: 2px 10px;
          margin-left: 50px;
          width: calc(100% - 50px);
    }

    #top_crap {
      height: 15%
    }

    #chat_container {
      height: 85%;
    }

    #promoted_apps {
      display: none;
    }
}
@media (max-height: 800px) {

      #top_crap {
        height: 10%
      }

      #promoted_apps {
        display: none;
      }

      #main_btns_container {
        padding: 0;
      }

      #online_students {
        display: none;
      }

      #chat_container {
        height: 90%;
      }
}
/* @media (max-width: 1025px) {
  #content {
        padding: 12px 60px;
  }
} */
