#footer,#footer col-lg-4{background-color:#EEE}h1,h2,h4{font-family:bold}div h6{font-weight:700}footer div{padding:2%}footer div img{height:15%;width:15%}hr{height:1px;background-color:silver;margin-top:20px;margin-bottom:20px;width:75%}#footer{width:100%;border-top:1px solid silver;margin-top:6%}
