h1 {
 font-size: 20px;
 font-weight: bold;
}

#canvas-display {
      cursor: crosshair;
      float: left;
      background-color: #ecf0f1;
      }

#colors {
      background-color: #fff;
      border: 1px solid #000000;
      display: none;
      padding: 0;
      position: relative;
      width: 50px;
      float: left;
      }

#colors li {
      border: 1px solid #000000;
      height: 20px;
      width: 20px;
      cursor: pointer;
      float: left;
      margin: 1px;
      list-style: none;
      }

#colors li.selected {
      border: solid 1px #eee;
      }

#controls {
      background: none repeat scroll 0 0 grey;
      border: 1px solid;
      border-radius: 5px 5px 5px 5px;
      cursor: pointer;
      font-weight: bold;
      opacity: 0.7;
      padding: 5px;
  }

#control-buttons {
      background-color: gray;
      border: 1px solid #000000;
      border-radius: 5px 5px 5px 5px;
      display: none;
      float: right;
      opacity: 0.7;
      padding: 10px;
      position: relative;
}

#brush_size
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    padding: 0 5px;
}

/* #canvas_container {
  border-left: 1px solid #2578ac;
  height:100%;width:100%;
  margin-left: 3%;
  position: relative;
} */

#banner {
  position: absolute;
top: 0;
left: 0;
background-color: #c8d6e5;
}

#freehand_drawing_msg{
position: absolute;
top: 50%;
left: 0;
background-color: #DADFE1;
padding: 5%;
}
