* {box-sizing:border-box;}
ul {list-style-type: none;}
body {font-family: Verdana,sans-serif;}

.month {
  padding: 25px;
  width: 100%;
  background: #1abc9c;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.time{
text-align: center;
//border:1px solid red;
height: 5.556%;
border-bottom: 1px solid #237D6B;
}

.time p{
  color:#476264;
margin:0px;
line-height: 100%;
    height: 100%;
    padding: 12%;
}

.timings-container{
float: right;
width:87.5%;
height: 100%;

}


      .seg{
        font-size:.6em;height:25%;
        margin: 0px;
      }


.day{
width:14.28%;
height: 100%;
  float: left;
}

.interval{
width: 100%;
border: 1px solid #26A69A;
}

.booked{
background-color: #007E65;
}

.c-booked{
background-color: #CF000F;
}

.pass-booked{
  background-color: #34495e;
}

.u-booked{
  background-color: #F9690E;
}

.overlay{
position:absolute;
background-color:rgba(236, 240, 241,0.6);
width:12%;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 12.5%;
  color: #666;
  text-align: center;
}

.start,.end{
font-size: .8em;
color:#10253A;
text-align: center;
}

#pop {
display:none;
background: #eee;
border: 1px solid #ccc;
padding: 10px;
border-radius: 8px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
position: absolute;
width: 200px;
z-index: 9999;
}

.t-container{
width:12.5%;float:left;height:100%;z-index:10;border:1px solid #00AA89;
}

.sched-container{
  background-color:#eee;overflow:auto;height:950px;
}

.edit{
  margin-left: 2%;
}

.btn-cont{
  position: absolute;bottom: 0px;width:100%;
}

.btn-cont .btn {
  width:49%;
  font-size: 12px;
}

.circleBase {
    border-radius: 50%;
    //behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 50px;
    height: 50px;
    border: 1px solid #EEEEEE;
    display: none;
    position: absolute;
    background-color: #DADFE1;
    z-index: 999999;
}

.editbtn{
  margin:0 auto;text-align:center;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor:pointer;
  z-index: 999999999;
}

.maxTimePassed{
  display: none;
  height: 50px;
  width: 90%;
  border-radius: 2px;
  border: 1px solid #3498db;
  position: fixed;
  bottom: 0px;
  margin-left:5%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1%;
  background-color: #ecf0f1;

}

.maxTimePassed p{ margin-top: 1.3%;color:#7f8c8d;}

.ctv{
  margin: 0px;
  text-align: center;
}

.btn-book{
  padding:1px;
  font-size: 1vw;
  border: 1px solid #DADFE1;
  width: 49.5%;
  color: #2c3e50;
}
